<main class="container mx-auto p-6">
  <section class="bg-body p-6">
    <h2 class="text-3xl font-bold text-white text-center mb-4">
      Bienvenido a <strong class="text-gold">myCodeResources</strong>
    </h2>
    <div class="max-w-2xl mx-auto text-center">
      <p class="text-slate-400 mb-6">
        myCodeResources es una plataforma integral diseñada para reunir y organizar herramientas e información
        esenciales para ayudar a los desarrolladores a lo largo de sus proyectos.
      </p>
      @if(!isCategorySelected){
      <div
        class="bg-transparent border border-slate-400 border-dashed p-2 text-white inline-flex items-center justify-center mx-auto rounded-lg transition-opacity duration-500">
        <img src="/assets/click_derecho.png" alt="Mouse" class="w-8 h-8" />
        <p class="text-lg font-semibold ml-2">Selecciona una categoría</p>
      </div>
      } @else {
      <div
        class="bg-transparent border border-slate-400 border-dashed p-2 text-white inline-flex items-center justify-center mx-auto rounded-lg transition-opacity duration-500">
        <div class="flex flex-col items-center">
          <div class="flex items-center mb-2">
            <img src="/assets/click_derecho.png" alt="Icono Página" class="w-8 h-8" />
            <p class="text-lg font-semibold ml-2">Ver Página</p>
          </div>
          <div class="flex items-center">
            <img src="/assets/click_derecho.png" alt="Icono Descripción" class="w-8 h-8 mirror" />
            <p class="text-lg font-semibold ml-2">Ver descripción</p>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
  <div class="relative border-b border-b-slate-400 pt-0 pb-14">
    <div>
      <div class="flex items-center mb-6">
        <h1 class="text-3xl font-bold mr-2 text-white">
          CATEGORIAS
        </h1>
        <div class="border-b border-slate-00 flex-1"></div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      @for (item of category; track item.id) {
      <div class="common-class group transition-colors duration-300 relative"
        [ngClass]="{'border-slate-600 text-slate-300': estado === item.id}" (click)="updateEstado(item.id)">
        @if(estado === item.id) {
        <div class="absolute top-0 right-0 mt-2 mr-2 w-3 h-3 bg-green-500 rounded-full"></div>
        }
        {{ item.name }}
      </div>
      }
    </div>
  </div>
  <app-category [categories]="categories" [filteredData]="filteredData" [estado]="estado"
    [subcategoryNames]="subcategoryNames">
  </app-category>
</main>
<app-description></app-description>